body {
    background-color: white;
    font-family: "Poppins", "sans-serif"; 
}

.registerContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    justify-content: center;
    align-items: center;
}

.extension {
    position: relative;
    top: 6px;
    right: 3px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    right: 15px
}

.registerForm {
    margin-top: 10px;
    height: 500px;
    width: 300px;
    border: 0.5px solid rgb(168, 162, 162); 
    padding: 20px;
    border-radius: 5px;
}

.countryDropDown {
    font-size: 14px;
    background-color: rgb(238, 231, 231);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 62px;
    border: 1px solid rgb(90, 89, 89);
    cursor: pointer;
}

.countryDropDown:hover {
    box-shadow: 0 0 5px rgb(255, 115, 0);
}

.registerForm > div {
    margin-bottom: 10px;
}

input {
    border-radius: 6px;
    height: 33px;
}

.registerFormInfo {
    font-size: 12px;
    color: rgb(20, 20, 20);
}

.submitButton {
    width: 100%;
    border: 1px solid;
    border-color: #a88734, #9c7e13, #846a29;
    height: 30px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 3px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    opacity: .8;
    font-weight: 500;
    margin-bottom: 20px;
}

.submitButton:hover {
    background: linear-gradient(to bottom,#f7d891,#f5bb27);
    cursor: pointer;
}

.submitButton:active {
    transform: translateY(5px);
}

.extraLinks {
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 0px;
}

.changeMobileVerifyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.changeMobileVerifyBox {
    width: 70%;
    border: 1px solid rgb(177, 172, 172);
    padding: 30px;
    padding-top: 20px;
}

.changeMobileVerifyHeader {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.changeMobileVerifyInfo {
    font-size: 13px;
    color: rgb(77, 74, 74);
    margin-bottom: 13px;
}

.changeMobileVerifyInputContainer > div {
    font-size: 14px;
    margin-bottom: 10px;
}

.changeMobileVerifyInputContainer > input {
    margin-bottom: 13px
}

.changeMobileVerifyInputContainer > button {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid rgb(143, 138, 138);
    font-size: 16px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    font-weight: 500;
    cursor: pointer;
}

.changeMobileVerifyInputContainer > button:hover {
    background: linear-gradient(to bottom,#f7d891,#f5bb27);
}

.change {
    color: #0066c0;
    cursor: pointer;
}

.change:hover {
    text-decoration: underline;
}

@media only screen and (min-width:200px) and (max-width: 700px) {
    .registerForm {
        margin-top: 10px;
        height: auto;
        width: 250px;
        border: 0.5px solid rgb(168, 162, 162); 
        padding: 20px;
        border-radius: 5px;
    }
}