.changeMobileWrapper {
    width: 40%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}

.changeMobileTitleContainer {
    font-size: 28px;
    font-weight: 500;
}

.changeMobileBox {
    border: 1px solid rgb(190, 184, 184);
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.oldMobile .oldMobileHeader {
    font-weight: 700;
    font-size: 14px;
}

.oldMobile .oldMobileNumber {
    font-size: 14px;
    margin-left: 5px;
}

.newMobile {
    margin-top: 20px
}

.newMobile .newMobileHeader {
    font-weight: 700;
    font-size: 14px;
}

.newMobile .newMobileInput {
    margin-top: 5px;
    display: flex;
}

.countryDropDown {
    font-size: 14px;
    background-color: rgb(214, 207, 207);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 62px;
    border: 1px solid rgb(90, 89, 89);
    cursor: pointer;
}

.countryDropDown:hover {
    box-shadow: 0 0 5px rgb(255, 115, 0);
}

.changeMobileNotice {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(51, 49, 49);
    width: 55%;
}

.changeMobileContinueButton {
    width: 54%;
    height: 30px;
    border-radius: 3px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border: 1px solid rgb(133, 132, 132);
    font-size: 13px;
    margin-top: 15px;
    font-weight: 500;
    cursor: pointer;
}

.changeMobileContinueButton:hover {
    background: linear-gradient(to bottom,#f7d891,#f5bb27);
}

.changeMobileCancelButton {
    width: 54%;
    height: 34px;
    border-radius: 3px;
    background-color: #d3d5d8;
    border: 1px solid rgb(85, 83, 83);
    font-size: 13px;
    margin-top: 15px;
    font-weight: 500;
    opacity: 0.9;
    cursor: pointer;
}

.changeMobileCancelButton:hover {
    opacity: 1;
}

.changeMobileNav {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 13px;
}

.changeMobileNavLink {
    margin-left: 10px;
    color: #0066c0;
    cursor: pointer;
}

.changeMobileNavLink:hover {
    text-decoration: underline;
    color: #c45500!important;
}

.changeMobileNavLink:last-child {
    color: #c45500!important;
    cursor: initial;
}

.changeMobileNavLink:last-child:hover {
    text-decoration: none;
}

@media only screen and (min-width:200px) and (max-width:700px) {
    
    .changeMobileWrapper {
        width: 80%;
    }

    .changeMobileNotice {
        width: 100%;
    }
}

@media only screen and (min-width:701px) and (max-width: 1200px) {
    .changeMobileWrapper {
        width: 60%;
    }

    .changeMobileNotice {
        width: 100%;
    }
}